* {
  margin: 0;
  padding: 0;
   font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  margin: 0;
  font-size: 100%;
  position:relative;
  font-weight:400;
  font-size:16px
}
.navbar {
  background-color:rgba(44, 190, 176, 0.774);
}
.jumbotron {
  margin-top: 70px;
  text-align: center;
  background-color: rgba(44, 190, 176, 0.774);
  display: flex;
  flex-direction: column;
}
.jumbotron-text {
  font-weight: 200;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-top: 100px;
}
.jumbotron-text h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}
.ul-social {
  text-align: center;
  padding-left: 0;
}
.li-social-links {
  display: inline-block;
  list-style: none;
}
.social {
  font-size: 2rem;
  color: white;
  padding: 20px;
}
.main-content {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 35px;
  font-size: 1rem;
  font-weight: 500;
  background-color:#f08e80;
}
#fullPara {
  font-size: 1.5rem;
  font-weight: 500;
}
#firstPara {
  color: white;
  opacity: 0.9;
  word-wrap: break-word;
  font-size: 140%;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 180%;
}
#aboutH2 {
  color: white;
}
#hrWhiteTwo {
  background-color: white;
  height: 2px;
}
#skillsHr,
#clubHr,
#farmHr,
#boatHr,
#experienceHr,
#educationHr {
  background-color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.content-body {
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
.side-content {
  flex: 0 0 16.6%;
}
.side-content-sm {
  flex: 0 0 10%;
}
.row{
  padding-top: 20px;
}
.card-content {
  margin: 10px;
  padding: 10px;
  margin-left: 30px;
  font-size: 1rem;
  line-height: 150%;
}
.card-body {
  font-size: 1rem;
  font-weight: 500;
}
.container {
  margin-top: 20px;
  margin-bottom: 10px;
}
.job-title {
  float: right;
  font-size: 1.1rem;
}
.card {
  flex: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.card {
  word-wrap: break-word;
}
h4 {
  font-family:Rubik,sans-serif;
  margin:0;
  font-weight:300;
  padding:0;
  color:#363940
  }
  a {
  color:#5867dd
  }
h2 {
  font-weight: 600;
  text-align: center;
  color: #f08e80;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-align: center;
}
hr {
  border: none;
  height: 0.1px;
  color: rgba(77, 77, 77, 0.534);
  background-color: rgba(77, 77, 77, 0.479);
}
ul {
  padding:0;
  margin:0
  }
  li {
  list-style:none
  }
  a:focus,a:hover, #appTag:hover {
    color:#f86420;
  text-decoration:none;
  
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
  }
  a:focus {
  outline:0
  
  }
#contactH5 {
  font-weight: 500;
  text-align: center;
  color: rgba(44, 190, 176, 0.774);
  font-size: 2.1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.1rem;
}
#clock {
  padding-top: 15px;
}

#darkMode {
  color: rgba(10, 10, 10, 0.233);
  margin: 0;
  font-weight: 500;
}
.contact-form {
  background-color: rgba(192, 191, 191, 0.253);
  padding: 4px;
  padding-top: 30px;
  word-wrap: break-word;
}
.projects {
  background-color: rgba(192, 191, 191, 0.253);
}
.skills-content {
  padding-left: 20px;
  flex: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ul-skills {
  text-align: center;
  padding-left: 0;
  list-style: none;
}
.li-skills {
  border-radius: 10px;
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: rgba(44, 190, 176, 0.774);
  list-style: none;
  cursor: default;
  font-size: 1.9em;
}

#paraOne,
#paraFour {
  text-align: center;
}
#gitTagThree,
#gitTagTwo,
#appTag,
#appTagOne {
  font-size: 1rem;
}
#footerCopy, #footerCopyWebsite {
  color: rgba(44, 190, 176, 0.774);
}
.fab,
.fas,
.fa {
  color: rgba(44, 190, 176, 0.774);
}
#phoneOne,
#mailOne,
#githubOne {
  color: white;
}
.fab:hover,
.fas:hover,
.fa:hover,
#mailOne:hover,
#footerCopy:hover,
#githubOne:hover,
#firstLinkndin:hover,
#gitTag:hover,
#phoneOne:hover  {
  color: rgb(37, 37, 255);
}
#firstGitI,
#firstLinkndin,
#firstChev,
#secondChev {
  color: white;
}
#firstGitI:hover,
#firstLinkndinI:hover,
#firstChev:hover {
  color: rgba(0, 0, 248, 0.596);
}
#fabSkills1:hover,
#fabSkills2:hover,
#fabSkills3:hover,
#fabSkills4:hover {
  color: rgba(44, 190, 176, 0.774);
}
#usydIcon {
  float: right;
}
#footerIcons {
  letter-spacing: 2.5px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#myBtn {

  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(90, 87, 87, 0.582);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.25rem;
}
#upBtn {
  color: white;
}

@media only screen and (max-width: 1200px) and (min-width: 500px) {
  #firstPara {
    font-size: 100%;
  }
  #darkMode {
    font-size: 100%;
  }

  #fullPara {
    font-size: 100%;
  }
}
yorkSection


  /* img {
  max-width:100%
  } */
  #footer-area  {
  font-size:16px;
  line-height:30px;
  color:#909196;
  font-weight:390
  }
  
  .no-padding {
  padding:0!important
  }
  .footer-big {
  padding:30px 0 45px 0
  }
  .footer-big .footer-widget {
  margin-bottom:40px
  }
  .footer--light {
  background:#e7e8ed
  }
  .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
  color:#898b96
  }
  .footer-menu {
  padding-left:48px
  }
  .footer-menu ul li a {
  font-size:15px;
  line-height:32px;
  }
  .footer-menu ul li a:hover {
  color:#5867dd
  }
  .footer-menu--1 {
  width:100%
  }
  .footer-widget-title {
  line-height:42px;
  margin-bottom:10px;
  font-size:18px
  }
  .mini-footer {
  background:#192027;
  text-align:center;
  padding:32px 0
  }
  .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
  }
  .mini-footer p a {
  color:#5867dd
  }
  .mini-footer p a:hover {
  color:#34bfa3
  }
  .widget-about img {
  display:block;
  margin-bottom:30px
  }
  .widget-about p {
  font-weight:400
  }
  .widget-about .contact-details {
  margin:30px 0 0 0
  }
  .widget-about .contact-details li {
  margin-bottom:10px
  }
  .widget-about .contact-details li:last-child {
  margin-bottom:0
  }
  .widget-about .contact-details li span {
  padding-right:12px
  }
  .widget-about .contact-details li a {
  color:#5867dd
  }
  @media (max-width:991px) {
  .footer-menu {
    padding-left:0
  }
  }
  .fab, .fas {
      padding-left: auto;
  }

  /* Portrait */
  @media (max-width: 768px) {
      .footer-widget {
        padding-left: 20px;
      }
        .footer-menu, .footer-widget {
                text-align: center;
        } 
      }
      #experience {
        padding: 20px
      }
      
      #portfolioImg, #portfolioImgFooter, #portfolioImgTop,#portfolioImgHeader {
        align-content: center;
      }
      img {
        display: block;
      margin-left: auto;
      margin-right: auto 
      }
      .card-deck {
        margin: 10px;
        padding-top: 10px;
        margin-top: 20px;
      }
      
      .carousel{
        margin-top: 50px;
      }
      .carousel-inner{
        height: 100px;
      }
      .carousel-caption{
        color: #fff;
        top: 50%;
      }
      #carouselExampleControls {
        padding-top: 0px;
      }
      #footerContact {
        color: white;
      }
      #clock {
      width: 100%;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    #contacts {
      text-align: center;
    }
    
    .carousel-inner .carousel-item {
      transition: -webkit-transform 2s ease;
      transition: transform 2s ease;
      transition: transform 2s ease, -webkit-transform 2s ease;
    }
    .card {
      box-sizing: border-box;
    }
    #harrisFarm,
    #universityOfSyd,
    #tafeNsw,
    #boatsImg,
    #clubYorkImg {
    position: absolute;
    bottom: 1px;
    right: 1px;
    float: right;
    }
  .btn {
  background: #0bd;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#yorkSection,
#boatSection,
#harrisSection {
  margin-top: 20px;
}