* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  background: white;
  margin: 0;
  animation-duration: 2.5s;
  animation-name: slidein;
}
.navbar {
  background-color: rgba(44, 190, 176, 0.774);
}
.jumbotron {
  margin-top: 70px;
  text-align: center;
  background-color: rgba(44, 190, 176, 0.774);
  display: flex;
  flex-direction: column;
}
.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 200;
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: white;
  padding: 20px;
}
.main-content {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(44, 190, 176, 0.774);
}
#firstpara {
  color: white;
  opacity: 0.9;
  word-wrap: break-word;
}
#abouth2 {
  color: white;
}
#hrwhite1, #hrwhite2 {
  background-color: white;
}
.content-body {
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
.side-content {
  flex: 0 0 16.6%;
}
.side-content-sm {
  flex: 0 0 10%;
}

.card-content {
  margin: 10px;
  padding: 10px;
  margin-left: 30px;
}
.container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-title {
  float: right;
  font-size: 1.1rem;
}
.card {
  flex: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  word-wrap: break-word;
}
h2 {
  font-weight: 600;
  text-align: center;
  color: rgba(44, 190, 176, 0.774);
  font-size: 2.1rem;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  color: rgba(44, 190, 176, 0.774);
    margin: 0;
    font-weight: 200;
}

.contact-form {
  background-color: rgba(192, 191, 191, 0.253);
  padding: 30px;
  padding-right: 30px;
  word-wrap: break-word;
}
.projects {
  background-color: rgba(192, 191, 191, 0.253);;
}/*SKILLS*/
.skills-content {
    padding-left: 20px;
    flex: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.ul-skills {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: rgba(44, 190, 176, 0.774);
  list-style: none;
  cursor: default;
  font-size: 1.9em;
}
hr {
  border: none;
  height: 0.1px;
  /* Set the hr color */
  color: rgba(77, 77, 77, 0.534); /* old IE */
  background-color: rgba(77, 77, 77, 0.534); /* Modern Browsers */
}
#para1, #para4 {
  text-align: center;
}
/* .fab {
  background-color: rgba(44, 190, 175, 0.404);
  opacity: 0.9;
} */
.fab, .fas {
  color:rgba(44, 190, 176, 0.774);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media (min-width: 768px){

}